<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link
            href="https://fonts.googleapis.com/css2?family=Days+One&family=Dela+Gothic+One&family=Jockey+One&family=Russo+One&display=swap"
            rel="stylesheet"
    />
    <title>Document</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: "Russo One", sans-serif;
        }
    </style>
</head>
<body>
<div style="width: 600px; height: 450px; background-color: #000000">
    <div
            style="
          background-color: #db7038;
          width: 100%;
          height: 57px;
          text-align: center;
          justify-content: center;
          align-items: center;
          display: flex;
          font-family: Russo One;
        "
    >
        <img src="https://i.imgur.com/a77Vnm7.png" alt="" style="width: 30px; height: 30px">
        <p style="color: white; font-size: 24px; vertical-align: middle">
            Mihest
        </p>
    </div>
    <div style="width: 100%; padding: 20px 32px">
        <p style="color: #db7038; font-size: 26px; text-align: center">
            Здравствуйте!
        </p>
        <p style="color: white; font-size: 20px; margin-top: 20px">
            Вы запросили сброс пароля для вашего аккаунта на платформе
            <a href="https://mihest.ru" style="color: #db7038">Mihest</a>.
        </p>
        <p style="color: white; font-size: 20px; margin-top: 10px; margin-bottom: 20px;">
            Чтобы сбросить пароль, нажмите на кнопку ниже:
        </p>
        <a
                href="{{ url }}"
                style="
            padding: 12px 39px;
            font-size: 20px;
            background-color: #db7038;
            border-radius: 16px;
            border: none;
            font-family: Russo One;
            color: white;
            margin: 0 140px;
          "
        >
            Сбросить пароль
        </a>

        <p style="color: white; font-size: 20px; margin-top: 20px;">
            Если вы не запрашивали сброс пароля, просто проигнорируйте это письмо.
        </p>
        <p
                style="
            color: white;
            font-size: 20px;
            margin-top: 10px;
            text-align: right;
          "
        >
            С уважением,<br/>Команда <a href="https://mihest.ru" style="color: #db7038">Mihest</a>
        </p>
    </div>
</div>
</body>
</html>
