

--
-- Database "account_db" dump
--

--
-- PostgreSQL database dump
--

-- Dumped from database version 15.12
-- Dumped by pg_dump version 15.12

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: account_db; Type: DATABASE; Schema: -; Owner: postgres
--

CREATE DATABASE account_db WITH TEMPLATE = template0 ENCODING = 'UTF8' LOCALE_PROVIDER = libc LOCALE = 'en_US.utf8';


ALTER DATABASE account_db OWNER TO postgres;

\connect account_db

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: alembic_version; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.alembic_version (
    version_num character varying(32) NOT NULL
);


ALTER TABLE public.alembic_version OWNER TO postgres;

--
-- Name: confirm_session; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.confirm_session (
    id uuid NOT NULL,
    user_id uuid NOT NULL,
    created_at timestamp with time zone NOT NULL
);


ALTER TABLE public.confirm_session OWNER TO postgres;

--
-- Name: refresh_session; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.refresh_session (
    refresh_token uuid NOT NULL,
    access_token character varying NOT NULL,
    expires_in integer NOT NULL,
    user_id uuid NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.refresh_session OWNER TO postgres;

--
-- Name: reset_session; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.reset_session (
    id uuid NOT NULL,
    user_id uuid NOT NULL,
    created_at timestamp with time zone NOT NULL
);


ALTER TABLE public.reset_session OWNER TO postgres;

--
-- Name: roles; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.roles (
    id integer NOT NULL,
    name character varying(30) NOT NULL
);


ALTER TABLE public.roles OWNER TO postgres;

--
-- Name: roles_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.roles_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.roles_id_seq OWNER TO postgres;

--
-- Name: roles_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.roles_id_seq OWNED BY public.roles.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id uuid NOT NULL,
    email character varying NOT NULL,
    first_name character varying NOT NULL,
    hashed_password character varying(1024) NOT NULL,
    is_verify boolean NOT NULL,
    is_deleted boolean NOT NULL,
    role_id integer NOT NULL
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: roles id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.roles ALTER COLUMN id SET DEFAULT nextval('public.roles_id_seq'::regclass);


--
-- Data for Name: alembic_version; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.alembic_version (version_num) FROM stdin;
78b0703cb388
\.


--
-- Data for Name: confirm_session; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.confirm_session (id, user_id, created_at) FROM stdin;
\.


--
-- Data for Name: refresh_session; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: reset_session; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.reset_session (id, user_id, created_at) FROM stdin;
\.


--
-- Data for Name: roles; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.roles (id, name) FROM stdin;
1	Admin
2	User
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.users (id, email, first_name, hashed_password, is_verify, is_deleted, role_id) FROM stdin;
e895a7f6-5b4d-4792-a7e9-121d6e9c8eb6	admin@admin.com	admin	$2b$12$5WMsLBsj5DjEOj8FfWCpBOeiytGKtDez4KR8I/o8mOAgtb8tFxZZC	f	f	1
0e80e36e-fd4a-4ca5-bdb3-26cc66fad344	user1@user.com	user1	$2b$12$cjMcYcoWPLhJjgviFyMqG.ayD0B17/67boxbC.udub.hAOa5T0jEi	f	f	2
d129cd7f-f60b-4e05-bdd8-ad1dda3f6011	user2@user.com	user2	$2b$12$rhbzaaPIrEiLRSlEe43ZyOUb3ACTuFGXPeKYUsXVOOAS2eLSmL8K.	f	f	2
\.


--
-- Name: roles_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.roles_id_seq', 2, true);


--
-- Name: alembic_version alembic_version_pkc; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.alembic_version
    ADD CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num);


--
-- Name: confirm_session confirm_session_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.confirm_session
    ADD CONSTRAINT confirm_session_pkey PRIMARY KEY (id);


--
-- Name: refresh_session refresh_session_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.refresh_session
    ADD CONSTRAINT refresh_session_pkey PRIMARY KEY (refresh_token);


--
-- Name: reset_session reset_session_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reset_session
    ADD CONSTRAINT reset_session_pkey PRIMARY KEY (id);


--
-- Name: roles roles_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_name_key UNIQUE (name);


--
-- Name: roles roles_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_pkey PRIMARY KEY (id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: ix_confirm_session_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_confirm_session_id ON public.confirm_session USING btree (id);


--
-- Name: ix_refresh_session_refresh_token; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_refresh_session_refresh_token ON public.refresh_session USING btree (refresh_token);


--
-- Name: ix_reset_session_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_reset_session_id ON public.reset_session USING btree (id);


--
-- Name: confirm_session confirm_session_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.confirm_session
    ADD CONSTRAINT confirm_session_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: refresh_session refresh_session_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.refresh_session
    ADD CONSTRAINT refresh_session_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: reset_session reset_session_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reset_session
    ADD CONSTRAINT reset_session_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: users users_role_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_role_id_fkey FOREIGN KEY (role_id) REFERENCES public.roles(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

--
-- Database "notification_db" dump
--

--
-- PostgreSQL database dump
--

-- Dumped from database version 15.12
-- Dumped by pg_dump version 15.12

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: notification_db; Type: DATABASE; Schema: -; Owner: postgres
--

CREATE DATABASE notification_db WITH TEMPLATE = template0 ENCODING = 'UTF8' LOCALE_PROVIDER = libc LOCALE = 'en_US.utf8';


ALTER DATABASE notification_db OWNER TO postgres;

\connect notification_db

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- PostgreSQL database dump complete
--

--
-- Database "postgres" dump
--

\connect postgres

--
-- PostgreSQL database dump
--

-- Dumped from database version 15.12
-- Dumped by pg_dump version 15.12

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- PostgreSQL database dump complete
--

--
-- Database "routes_db" dump
--

--
-- PostgreSQL database dump
--

-- Dumped from database version 15.12
-- Dumped by pg_dump version 15.12

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: routes_db; Type: DATABASE; Schema: -; Owner: postgres
--

CREATE DATABASE routes_db WITH TEMPLATE = template0 ENCODING = 'UTF8' LOCALE_PROVIDER = libc LOCALE = 'en_US.utf8';


ALTER DATABASE routes_db OWNER TO postgres;

\connect routes_db

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: routestatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.routestatus AS ENUM (
    'APPROVED',
    'REJECTED',
    'MODERATION'
);


ALTER TYPE public.routestatus OWNER TO postgres;

--
-- Name: routetype; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.routetype AS ENUM (
    'PEDESTRIAN',
    'CAR',
    'ORIENTEERING',
    'ALPINISM',
    'CYCLING',
    'CAMPING',
    'SKIING',
    'KAYAKING',
    'SUP_SURFING',
    'DIVING',
    'RAFTING',
    'HORSEBACK_RIDING',
    'SNOWMOBILE',
    'BUGGY',
    'ENDURO',
    'OFF_ROAD',
    'TRAIN'
);


ALTER TYPE public.routetype OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: alembic_version; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.alembic_version (
    version_num character varying(32) NOT NULL
);


ALTER TABLE public.alembic_version OWNER TO postgres;

--
-- Name: answers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.answers (
    id uuid NOT NULL,
    comment_id uuid NOT NULL,
    author_id uuid NOT NULL,
    text character varying NOT NULL
);


ALTER TABLE public.answers OWNER TO postgres;

--
-- Name: comments; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.comments (
    id uuid NOT NULL,
    author_id uuid NOT NULL,
    text character varying NOT NULL,
    rating integer NOT NULL,
    route_id uuid NOT NULL
);


ALTER TABLE public.comments OWNER TO postgres;

--
-- Name: points; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.points (
    id uuid NOT NULL,
    name character varying NOT NULL,
    description character varying,
    coord_x double precision NOT NULL,
    coord_y double precision NOT NULL,
    route_id uuid NOT NULL,
    photo character varying NOT NULL
);


ALTER TABLE public.points OWNER TO postgres;

--
-- Name: route_photos; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.route_photos (
    id uuid NOT NULL,
    route_id uuid NOT NULL,
    photo_path character varying NOT NULL
);


ALTER TABLE public.route_photos OWNER TO postgres;

--
-- Name: routes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.routes (
    id uuid NOT NULL,
    title character varying NOT NULL,
    description character varying NOT NULL,
    type public.routetype NOT NULL,
    is_public boolean NOT NULL,
    status public.routestatus NOT NULL,
    owner_id uuid NOT NULL,
    distance double precision NOT NULL
);


ALTER TABLE public.routes OWNER TO postgres;

--
-- Name: saved_routes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.saved_routes (
    id uuid NOT NULL,
    user_id uuid NOT NULL,
    route_id uuid NOT NULL
);


ALTER TABLE public.saved_routes OWNER TO postgres;

--
-- Data for Name: alembic_version; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.alembic_version (version_num) FROM stdin;
53cd9ca9d5d9
\.


--
-- Data for Name: answers; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.answers (id, comment_id, author_id, text) FROM stdin;
\.


--
-- Data for Name: comments; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: points; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: route_photos; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: routes; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: saved_routes; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.saved_routes (id, user_id, route_id) FROM stdin;
453a28d4-dea3-44f9-97f1-9e9e1b52f331	e895a7f6-5b4d-4792-a7e9-121d6e9c8eb6	3763880d-5a69-4254-9f0c-f2e1c43dd205
e0e7ce46-5902-40bd-9449-fa207d14a34c	0e80e36e-fd4a-4ca5-bdb3-26cc66fad344	3763880d-5a69-4254-9f0c-f2e1c43dd205
0d13914d-eafa-4d19-9e32-061c1df14b46	0e80e36e-fd4a-4ca5-bdb3-26cc66fad344	c69604d4-71f0-4157-b835-ec5a0dfd3395
9899a5db-c1b5-422d-9009-cb660e56c2a8	d129cd7f-f60b-4e05-bdd8-ad1dda3f6011	c69604d4-71f0-4157-b835-ec5a0dfd3395
\.


--
-- Name: alembic_version alembic_version_pkc; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.alembic_version
    ADD CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num);


--
-- Name: answers answers_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.answers
    ADD CONSTRAINT answers_pkey PRIMARY KEY (id);


--
-- Name: comments comments_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.comments
    ADD CONSTRAINT comments_pkey PRIMARY KEY (id);


--
-- Name: points points_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.points
    ADD CONSTRAINT points_pkey PRIMARY KEY (id);


--
-- Name: route_photos route_photos_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.route_photos
    ADD CONSTRAINT route_photos_pkey PRIMARY KEY (id);


--
-- Name: routes routes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.routes
    ADD CONSTRAINT routes_pkey PRIMARY KEY (id);


--
-- Name: saved_routes saved_routes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.saved_routes
    ADD CONSTRAINT saved_routes_pkey PRIMARY KEY (id);


--
-- Name: answers answers_comment_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.answers
    ADD CONSTRAINT answers_comment_id_fkey FOREIGN KEY (comment_id) REFERENCES public.comments(id) ON DELETE CASCADE;


--
-- Name: comments comments_route_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.comments
    ADD CONSTRAINT comments_route_id_fkey FOREIGN KEY (route_id) REFERENCES public.routes(id) ON DELETE CASCADE;


--
-- Name: points points_route_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.points
    ADD CONSTRAINT points_route_id_fkey FOREIGN KEY (route_id) REFERENCES public.routes(id) ON DELETE CASCADE;


--
-- Name: route_photos route_photos_route_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.route_photos
    ADD CONSTRAINT route_photos_route_id_fkey FOREIGN KEY (route_id) REFERENCES public.routes(id) ON DELETE CASCADE;


--
-- Name: saved_routes saved_routes_route_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.saved_routes
    ADD CONSTRAINT saved_routes_route_id_fkey FOREIGN KEY (route_id) REFERENCES public.routes(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

--
-- PostgreSQL database cluster dump complete
--

